<footer>
  <div class="footer_content">
    <h3>Our Location</h3>
    <address>
      <p>Jl. Bangkringan No 19, RT.11/RW.2, Kota Surabaya, 60124</p>
      <p><span class="padding bold">Customer Service</span> +6282-2876-6862</p>
      <p><span class="bold">We Are Open from</span> Sun - Mon 10 AM - 22 PM</p>
    </address>
    <div class="line"></div>
    <div class="social_media">
      <nav aria-label="Social networks">
        <a href="/spotify.com">
          <svg class="spotify" width="24" height="24">
            <use href="images/icons/sprite.svg#spotify" />
          </svg>
        </a>
        <a href="/instagram.com">
          <svg class="instagram" width="24" height="24">
            <use href="images/icons/sprite.svg#instagram" />
          </svg>
        </a>
        <a href="/tiktok.com">
          <svg class="tiktok" width="24" height="24">
            <use href="images/icons/sprite.svg#tiktok" />
          </svg>
        </a>
        <a href="/youtube.com">
          <svg class="youtube" width="24" height="24">
            <use href="images/icons/sprite.svg#youtube" />
          </svg>
        </a>
        <a href="/twitter.com">
          <svg class="twitter" width="24" height="24">
            <use href="./images/icons/sprite.svg#twitter" />
          </svg>
        </a>
        <a href="/telegram.com">
          <svg class="telegram" width="24" height="24">
            <use href="/images/icons/sprite.svg#telegram" />
          </svg>
        </a>
      </nav>
      <nav aria-label="links to download applications">
        <p>Delivery Order</p>
        <div class="links_download_applications">
          <a href="/appStore.com">
            <svg class="app-store" width="134" height="40">
              <use href="./images/icons/svg/app-store.svg#app-store" />
            </svg>
          </a>
          <a href="/googlePlay.com">
            <svg class="google-play" width="134" height="40">
              <use href="./images/icons/svg/google-play.svg#google-play" />
            </svg>
          </a>
        </div>
      </nav>
    </div>
    <div class="copy_right">
      <p>© 2023 <span>imaji coffee</span>, All rights reserved</p>
      <div class="term_and_conditions">
        <a href="/Terms/">Terms and Conditions</a>
        <span aria-hidden="true">|</span>
        <a href="/Policy/">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>